@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome page changes for CI and CD pipeleine via Jenkins by Jagan changed done on 23th Nov recent</a>.</p>
    <p> demo for CI and CD for AKS cluster with azuredevops done on 24th Nov 2023 </p>
</div>
